.image-text{
    font-family: 'Lora-Medium', serif;
    color: white;
}

.image-text span{
    font-size: 21px;
}

.image-text h2{
    font-size: 50px;
}

.image-text button{
    font-family: 'Montserrat-Bold', sans-serif;
    background-color: #214ABF;
    padding: 10px 25px 10px 25px;
    color: white;
    text-align: center;
}

.image-text button:hover{
    color: white;
}

.nosotras-text p{
    color: white !important;
    font-family: 'Lora', serif;
    font-size: 26px;
}

.nosotras-section h2{

    color: #cd9b33 !important;
    font-family: 'KaushanScript-Regular', serif;
    font-size: 50px;
    transform: translateY(-70px);
}

.nosotras-section img{
    max-width: 500px;
    width: 375px;
}

@media(max-width: 900px){
    .nosotras-section h2{

        color: #cd9b33 !important;
        font-family: 'KaushanScript-Regular', serif;
        font-size: 50px;
        transform: translateY(0px);
    }

    .nosotras-section img{
        max-width: 80%;
        width: 80%;
        height: auto;
    }
}



.nosotras-text p strong{
    color: #59C3A6 !important;
    font-family: 'Lora-Regular', serif;
    font-size: 26px;
}

.productos-destacados h2{
    color: #cd9b33 !important;
    font-family: 'KaushanScript-Regular', serif;
    font-size: 50px;
    text-align: center;
    /* transform: translateY(-70px); */
}

.productos-destacados .card-body i{
    font-size: 12px;
    color: #EDB867;
}

.productos-destacados .card-title span{
    font-family: 'Lora-Bold', serif;
    font-size: 30px;
}


.productos-destacados .card-container{
    height: 100%;
    /* width: 25%; */
}

.productos-destacados .card-container img{
    height: 160px;
    width: 210px;
    box-shadow: 3px 4px 15px -6px #000000;
}

.productos-destacados h3{
    font-family: 'Lora-Regular', serif;
    font-size: 24px;
}

.productos-destacados span{
    font-family: 'Lora-Regular', serif;
    font-size: 18px;
}

.productos-destacados i{
    color: #cd9b33 !important;
}

.productos-destacados .ver-producto{
    height: 160px;
    width: 210px;
    background-color: black;
    opacity: 0;
    transition: .5s ease;
}

.productos-destacados .ver-producto:hover{
    opacity: .7;
    transition: .5s ease;
}

.productos-destacados .ver-producto .lupa i{
    font-size: 34px;
    color: #59C3A6 !important;
}

.background-testimonios{
    height: 693px;
    width: 100%;
    background-attachment: fixed;
}

@media(max-width: 1600px){
    .background-testimonios{
        height: 593px;
        width: 1280px;
    }
}

.opinion-container{
    background-color: rgba(255, 255, 255, 0.9);
    width: 50%;
}

.swiper-pagination-bullets-dynamic {
    transform: translateX(0%)!important;
}

.opinion-image img{
    width: 116px;
    height: 116px;
    border-radius: 50%;
    top: 0;
    transform: translateY(-50px);
    border: 2px solid #59C3A6;
}

.opinion-stars{
    /* margin-bottom: 100px; */
    position: absolute;
    top: 0;
    margin-top: 70px;
}

.opinion-stars i{
    color: #cd9b33 !important;
    font-size: 24px;
}

.opinion-text p{
    font-size: 28px;
    line-height: 1.8em;
    color: #3c3c3c;
    font-family: 'Lora', serif;
}

.opinion-separator{
    width: 40%;
    margin: 0 auto;
    height: 2px;
    background-color: #59C3A6;
}

.opinion-name strong{
    font-family: 'Lora', serif;
    font-size: 20px;
}

.swiper-pagination2{
    transform: translateY(-50px)!important;
}

.swiper-pagination-bullet{
    width: 20px !important;
    height: 20px !important;
}

.contador_cantidad{
    font-family: 'Lora', serif;
    font-size: 48px;
    color: #4e4e4e;
    font-weight: 700;
}

.counter-title{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    color: #979797;
}

.contadores{
    background: #f7f7f7;
    padding: 60px 65px 30px;
}


@media(max-width: 900px){
    .background-testimonios{
        height: 593px;
        width: 100%;
    }

    .opinion-text p{
        font-size: 21px;
        line-height: 1.8em;
        color: #3c3c3c;
        font-family: 'Lora', serif;
    }

    .opinion-container{
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
    }
}


